{deps_dir, "deps"}.

{erl_opts,
 [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  {parse_transform, lager_transform},
  {parse_transform, ejson_trans},
  debug_info
 ]
}.

{deps,
  [
    {lager, {git, "git@github.com:basho/lager.git", {tag, "3.0.2"}}}
%    {sumo_rest,      {git, "git@github.com:inaka/sumo_rest.git", {branch, "master"}}},
    {sumo_rest,      {git, "git@github.com:zsoci/sumo_rest.git", {branch, "master"}}},
    {jiffy,          {git, "git@github.com:zsoci/jiffy.git", {branch, "master"}}},
%%    {trails,         {git, "https://github.com/inaka/cowboy-trails.git", {ref, "bc92848"}}},
%%    {cowboy_swagger, {git, "https://github.com/inaka/cowboy-swagger.git", {tag, "1.0.2"}}},
%%    {mixer,          {git, "https://github.com/inaka/mixer.git", {tag, "0.1.5"}}},
%   {iso8601,        {git, "https://github.com/kivra/erlang_iso8601.git", {ref, "b5d1d6e"}}},
%   {sumo_db,        {git, "https://github.com/inaka/sumo_db.git", {ref, "002d25f"}}}
%    {jiffy, {git, "git@github.com:davisp/jiffy.git", {tag, "0.14.7"}}},
    {psh, {git, "git@github.com:esl/PubSubHub.git", {branch, "master"}}},
    {ejson, {git, "git@github.com:jonasrichard/ejson.git", {branch, "master"}}},
%    {cowboy, {git, "git@github.com:ninenines/cowboy.git", {tag, "1.0.4"}}}
  ]
}.

{pre_hooks, [{compile, "config/generate-config.sh --deps ${BUILD_DEPS} --build-env ${BUILD_ENV}"}]}.

{relx, [{release, {fen, "0.0.1"},
         [runtime_tools,
         psh,
         ejson,
         fen,
         cowboy
         ]},
        {dev_mode, false},
        {include_erts, true},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {extended_start_script, true}]}.

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, [lager]},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto, erts]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.

